//
// Footer
// --------------------------------------------------------------------------

.footer {
  center();
  margin-top: 20px;
  margin-bottom: 20px;
}


// Main
// --------------------------------------------------------------------------

.footer-main {
  padding-top: 20px;
  color: $color-gray-light;
  border-top: 1px solid $color-gray-lighter;
}
